.todo-panels {
  text-align: center;
  font-family: Helvetica;
  padding: .5rem;
  width: 370px;
  margin: 0 auto;
  background: #fff;
  position: fixed;
  bottom: 0;
}
.todo-panels > a {
  text-decoration: none;
  color: #ABABAB;
  font-weight: bold;
  padding-right: 1rem;
}
.todo-panels > a.active {
  color: #5C5C5C;
}
.todo-panels > a:not(:first-child) {
  padding-left: 1rem;
  border-left: solid 2px #98E85A;
}