@import './styles/dragula.css';
@import './styles/todo-form.css';
@import './styles/todo-item.css';
@import './styles/todo-panels.css';
@import './styles/prompt.css';

.todo-list {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 2.5rem;
}

.control-bar {
  position: relative;
  height: 30px;
}
.control-bar > a {
  color: #333;
  float: right;
  position: absolute;
  right: 0;
}