@import './styles/dragula.css';
@import './styles/todo-form.css';
@import './styles/todo-item.css';
@import './styles/todo-panels.css';
@import './styles/prompt.css';
@import './styles/todo-container.css';
@import './styles/control-bar.css';

body {
  background: rgba(0, 0, 0, .4);
  margin: 0;
}

.todo-list {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 2.5rem;
}

